:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: var(--primary-color);
  padding: 1%;
}

h1 {
  font-size: 4.5em;
  font-weight: normal;
  margin: 10% 2%;
  line-height: 95%;
  color: var(--white);
}

p {
  color: var(--primary-color);
  font-size: 1.4em;
  margin: 5%;
}

.box {
  border: var(--primary-color) 15px solid;
  border-radius: 7px;
  width: 40%;
  margin: 5% auto;
  padding: 5% 0;
  font-size: 4em;
  color: var(--primary-color);
  box-shadow: 10px 5px 15px darkgray;
}

#box-1 {
  background-color: var(--box-color-1);
}

#box-2 {
  background-color: var(--box-color-2);
}

#box-3 {
  background-color: var(--box-color-3);
}

/* Tablet breakpoint */
@media (min-width: 600px) {
  h1 {
    margin: 6% auto;
  }

  p {
    font-size: 1.8em;
    margin-bottom: 2%;
  }

  .boxes {
    display: flex;
    margin: 0 5%;
  }

  .box {
    border: var(--primary-color) 10px solid;
    width: 15%;
    padding: 2% 1%;
    font-size: 3em;
  }
}

/* Laptop breakpoint */
@media (min-width: 1024px) {
  h1 {
    font-size: 5em;
    margin: 4% auto;
  }

  p {
    font-size: 2em;
    margin: 2% 0 1% 0;
  }

  .box {
    border: var(--primary-color) 15px solid;
    width: 18%;
    padding: 4% 1%;
    font-size: 5em;
  }
}

@media (min-width: 1366px) {
  h1 {
    margin: 2% auto;
  }

  .boxes {
    margin: 0 18%;
  }

  .box {
    width: 12%;
    padding: 2% 4%;
    font-size: 6em;
  }
}


/* Desktop breakpoint */